body {
    margin: 0;
    min-height: 100vh;
    position: relative;
    background: #000000;
    color: #ffffff; 
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-image: radial-gradient(
        500px circle at var(--x,50%) var(--y,50%),
    rgba(140, 0, 255, 0.35) 0%, 
    rgba(173, 95, 245, 0.03) 50%, 
    rgba(32, 7, 90, 0) 100%
    );
     background-attachment: fixed;
    background-repeat: no-repeat; 
}

#app {
    margin: 0 auto;
    padding: 0.24em; 
    text-align: center;
    width: 100%;
}
img,video{
    max-width: 100%;
    margin: 1rem 0;
}


#title {
    font-size: 1.8rem;
          font-size: 40px;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
    font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    text-shadow: 0 0 10px #8c00ff, 0 0 12px #be79ff, 0 0 30px #1f0338;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  border-radius: 50px;
}

#desc {
    font-size: 1.4rem;
  font-family: "Syncopate", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

@media (max-width: 600px) {
  body::before,
  body::after {
    display: none;
  }
}
.basic_data{
    padding: 10px 15px; 
    border: 2px solid #7700ff;
    box-shadow: 0 0 4px #8c00ff, 0 0 12px #d29bff, 0 0 30px #9169fd;
    border-radius: 15px;
    color:rgb(255, 255, 255);
    background-color:rgb(0, 0, 0); 
    width: 50%;
    margin: 1rem auto;
    box-sizing: border-box
}

.loading{
        font-size: 40px;
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
    font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
    max-width: 100%;
    text-align: center;
    border: 2px solid #7700ff;
    box-shadow: 0 0 4px #8c00ff, 0 0 12px #d29bff, 0 0 30px #9169fd;
    border-radius: 15px;
    color:rgb(255, 255, 255);
    background-color:rgb(0, 0, 0); 
    width: 50%;
    text-align: center;
    margin: 1rem auto;
}

.subtitles {
    color: #ffffff70;
    font-size: 10px;
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    

    animation: continuousPulse 2s ease-in-out infinite alternate;
}


@keyframes continuousPulse {
    from {
        opacity: 0.2; 
    }
    to {
        opacity: 1;  
    }
}